data
results
figures
configs
old_configs
model/__pycache__
old_models
cifar-10-batches-py
.ipynb_checkpoints
logs
checkpoints
MNIST_tflearn_checkpoints
imdb.pkl
**/*.swp
**/*.swo
tex/*.pdf
tex/*.aux
tex/*.lof
tex/*.log
tex/*.lot
tex/*.out
tex/*.toc
